.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;

  * {
    font-size: 0.75rem;
  }

  &__menu-item {
    display: inline-block;
    list-style: none;
  }

  &__menu-link {
    padding-right: 2rem;

    &.active {
      text-decoration: none;
    }
  }
  .infoAutor{
  .footer__copy {
    margin-bottom: 0.5rem; /* Añade un espacio debajo del texto */
  }

  .footer__icons {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;


    .footer__icon-link {
      font-size: 2rem; /* Tamaño de los íconos */
      margin: 0 1rem; /* Espacio entre los íconos */

    }
  }}
}


/* Otros estilos de tu archivo Footer.scss */

